@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 37% 24%;
    --foreground: 0 0% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 278 38% 89%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 194 48% 16%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 70% 35%;
    --destructive-foreground: 210 40% 98%;

    --success: 143 64% 24%;
    --success-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-background text-foreground;
  }
  .layout {
    max-width: 82.125rem;
    @apply mx-auto w-11/12;
  }
}
