---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <main class="flex items-center justify-center bg-red-200 text-red-400">
    Does It Mutate?
  </main>
</Layout>
