---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { getCollection } from "astro:content";
import CardMethod from "@/components/ui/CardMethod.astro";

const methods = await getCollection("methods");
---

<Layout title="Does It Mutate">
  <main class="layout grid grid-cols-1 lg:grid-cols-[240px_1fr]">
    <aside class="hidden border-r-[1px] border-foreground/20 lg:flex">
      <ol class="mt-7 flex flex-col space-y-3">
        {methods.map((el) => <li>{el.data.title}</li>)}
      </ol>
    </aside>
    <div class="mt-14 lg:mx-8 lg:mt-7">
      {
        methods.map(async (method) => {
          const { Content } = await method.render();
          return (
            <CardMethod
              title={method.data.title}
              mutation={method.data.mutation}
            >
              <Content />
            </CardMethod>
          );
        })
      }
    </div>
  </main>
</Layout>
