---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { getCollection } from "astro:content";

const methods = await getCollection("methods");
---

<Layout title="Does It Mutate">
  <main class="layout grid lg:grid-cols-[240px_1fr]">
    <aside class="border-r-[1px] border-foreground/20">
      <ol class="mt-7 flex flex-col space-y-3">
        {methods.map((el) => <li>{el.data.title}</li>)}
      </ol>
    </aside>
    <div></div>
  </main>
</Layout>
