---
import { Badge } from "./badge";

interface Props {
  title: string;
  mutation: string;
}

const { title, mutation } = Astro.props;
---

<div class="mb-20">
  <div class="mb-4 flex items-center justify-between">
    <h2 class="text-3xl font-semibold">
      .{title}
    </h2>
    {
      mutation === "no mutation" ? (
        <Badge>{mutation}</Badge>
      ) : (
        <Badge variant="destructive">{mutation}</Badge>
      )
    }
  </div>
  <slot />
</div>
